.CollectionPreview {
    width: 100%;
    gap: 15px;
}

.CollectionPreview .CollectionPreviewImage {
    width: 100%; height: 0; padding-bottom: 100%;
    background-size: contain; 
    border-radius: 16px;
}
.CollectionPreview .CollectionName, .CollectionPreview .HashPower, .CollectionPreview .Priceheading{
    color: #717070;

}

.CollectionPreview .PriceRow {
    fill: gradient(45deg, #4C80E9 14.64%, #91D2F5 85.36%);
    gap: 10px;
}