.BuyNftPopup .Stage {
    gap: 24px;
}

.BuyNftPopup .BorderContainer {
    gap: 24px;
    background: var(--color-gray-090);
    align-items: flex-start;
}
.BuyNftPopup .BorderContainer .NftPicture {
    width: 124px; height: 146px;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.BuyNftPopup .BorderContainer .NftInfo {
    gap: 10px;
}

.BuyNftPopup .BorderContainer .NftInfo .Price {
    padding-top: 40px;
    gap: 10px;
    align-items: center;
}

.BuyNftPopup .BorderContainer .NftInfo .Gray {
    color: var(--color-gray-030);
}

.BuyNftPopup .Stage.Processing {
    align-items: center;
}

.BuyNftPopup .Stage.Processing .Info {
    color: var(--color-gray-025);
    text-align: center;
}

.BuyNftPopup .Stage.Success {
    align-items: center;
    gap: 14px;
}

.BuyNftPopup .Stage.Success .SuccessSvg {
    width: 70px; height: 70px;
}

.BuyNftPopup .Stage.Success .BorderContainer {
    gap: 5px;
}

.BuyNftPopup .Stage.Success .BorderContainer .NftPicture {
    width: 272px; height: 188px;
    margin-bottom: 10px;
}

.BuyNftPopup .Stage.Success .TransactionView {
    gap: 10px;
}
