
.PageNftView .PageContent {
    padding: 24px var(--page-spacing-h);
}

.PageNftView .PageContent .NftInfoCnt {
    margin-top: 40px;
}

.PageNftView .PageContent .LeftLayout {
    gap: 32px;
}

.PageNftView .PageContent .LeftLayout .PaddingColumn {
    padding: 0 110px;
    gap: 32px;
}

.PageNftView .PageContent .LeftLayout .PaddingColumn .Picture {
    width: 100%; height: 0; padding-top: 110%;
    background-size: cover;
    background-position: center;
    border-radius: 16px;
}

.PageNftView .PageContent .LeftLayout .PaddingColumn .DataUnderPicture {
    gap: 23px;
    background: var(--color-gray-095);
}

.PageNftView .PageContent .LeftLayout .PaddingColumn .DataUnderPicture .DataRow {
    justify-content: space-between;
}

.PageNftView .PageContent .LeftLayout .PaddingColumn .DataUnderPicture .DataRow .DataValue {
    text-align: right;
    font-weight: 600; font-size: 16px;
}

.PageNftView .PageContent .RightLayout {
    align-items: left;
    gap: 24px;
}

.PageNftView .PageContent .RightLayout .OwnerRow {
    justify-content: flex-start;
    gap: 10%;
}

.PageNftView .PageContent .RightLayout .OwnerRow .OwnerBox {
    gap: 16px;
    justify-content: left;
    align-items: center;
}

.PageNftView .PageContent .RightLayout .OwnerRow .OwnerBox .OwnerPicture {
    background-color: black;
    width: 50px; height: 50px;
    border-radius: 100px;
}

.PageNftView .PageContent .RightLayout .OwnerRow .OwnerBox .OwnerPicture .OwnerInfo {
    gap: 15px;
}

.PageNftView .PageContent .RightLayout .CalculateRewardsNav {
    padding: 40px;
    justify-content: space-between;
}

.PageNftView .PageContent .RightLayout .OwnerRow .OwnerBox .OwnerPicture .OwnerInfo .AddressName {
    font-weight: 600; font-size: 16px;
}

.PageNftView .PageContent .RightLayout .OwnerRow .OwnerBox .OwnerPicture .OwnerInfo .Address {
    font-weight: 700; font-size: 16px;
}


.PageNftView .PageContent .RightLayout .BorderContainer {
    gap: 10px;
}

.PageNftView .PageContent .RightLayout .BorderContainer .DataRow {
    justify-content: space-between;
}

.PageNftView .PageContent .RightLayout .BorderContainer .DataRow .DataValue{
    gap: 15px;
    font-weight: 600; font-size: 16px;
}
