.ResellNftPopup .Stage {
    gap: 24px;
}

.ResellNftPopup .Stage.Preview .BorderContainer {
    gap: 24px;
    background: var(--color-gray-090);
    align-items: flex-start;
}

.ResellNftPopup .Stage.Preview .BorderContainer .NftPicture {
    width: 124px; height: 146px;
    flex: 0 0 auto;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.ResellNftPopup .Stage.Preview .BorderContainer .NftInfo {
    width: 0;
    flex: 1 1 auto;
}

.ResellNftPopup .Stage.Preview .BorderContainer .Gray {
    color: var(--color-gray-030);
}

.ResellNftPopup .Stage.Preview .CheckBoxRow {
    gap: 50px;
}

.ResellNftPopup .Stage.Processing, .ResellNftPopup .Stage.Success, .ResellNftPopup .Stage.Fail  {
    align-items: center;
}

.ResellNftPopup .Info {
    color: var(--color-gray-025);
    text-align: center;
}

.ResellNftPopup .BigSvg {
    width: 70px; height: 70px;
}

.ResellNftPopup .TransactionView {
    gap: 10px;
}
