.UiKitPage .UiKit {
    color: var(--color-primary);
    text-align: center;
    font-size: 30px;
}

.UiKitPage .FeatureBox {
    margin: var(--item-spacing)
}

.UiKitPage .FeatureBox > label {
    color: var(--color-secondary);
    font-size:18px; font-weight: 700;
}

.UiKitPage .FeatureBox .InputsGrid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 16px;
}
