.BorderShadowPaddingContainer {
    box-sizing: border-box;
    margin: 0 auto;
    border:1px solid var(--color-gray-090);
    border-radius: var(--border-radius);
}

.BorderShadowPaddingContainer.WidthSmall {
    width: 525px;
}

.BorderShadowPaddingContainer.WidthMedium {
    width: 720px;
}

.BorderShadowPaddingContainer.WidthLarge {
    width: 100%;
    flex: 1 1 auto;
}

.BorderShadowPaddingContainer.BgWhite {
    background: #fff;
}

.BorderShadowPaddingContainer.BgGray {
    background: var(--color-gray-090);
}

.BorderShadowPaddingContainer.Padding48 {
    padding: 48px;
}

.BorderShadowPaddingContainer.Padding24 {
    padding: 24px;
}

.BorderShadowPaddingContainer.Padding16 {
    padding: 16px;
}

.BorderShadowPaddingContainer.Shadow {
    box-shadow: var(--box-shadow);
}
