.Box {
    padding: 48px;
    box-sizing: border-box;
    margin: 0 auto;
    border:1px solid var(--color-gray-090);
    box-shadow: var(--box-shadow);
    border-radius: var(--border-radius);
    background: #fff;
}

.Box.BoxWidthSmall {
    width: 512px;
}

.Box.BoxWidthLarge {
    flex: 1 1 auto;
}
