.Button {
    min-width: 0 !important;
    line-height: normal !important;
    text-transform: none !important;
    font-family: inherit !important;
    font-weight: 600 !important;
    font-size: 14px !important;
    position: relative !important;
    box-sizing: border-box !important;
}

.Button .SVG.ButtonSvg {
    width: 16px; height: 16px;
    margin-right: 8px;
}

.Button.Radius30 {
    border-radius: 30px !important;
}

.Button.Padding24 {
    padding: 0 24px;
}

.Button.Padding48 {
    padding: 0 48px;
}

.Button.Padding82 {
    padding: 0 82px;
}

.Button.Padding96 {
    padding: 0 96px;
}
