:root {
    --color-primary: #52A6F8;
    --color-primary-light: rgba(82, 166, 248, 0.1);
    --color-secondary: #636D8F;
    --color-dark: #1b2031;
    --color-gray-light: #F6F9FE;
    --color-gray-light-02: #E0E2E9;
    --color-gray-dark: #999FB1;
    --color-purple: rgba(99, 109, 143, 0.2);
    --color-red: #EA6161;
    --color-green: #65B48F;

    --color-body-background: linear-gradient(296.82deg, rgba(246, 249, 254, 0) 0%, rgba(246, 249, 254, 0.86) 63.54%, #F6F9FE 100%);

    --transition-duration: 0.4s;

    /* theme */
    /* --color-input-text: var(--color-dark);
    --color-input-label: var(--color-dark);
    --color-input-focused: #262b31;
    --color-input-border: var(--color-gray-dark);
    --color-input-border-hover: #262b31;
    --color-input-background: var(--color-gray-light);
    --color-input-background-focused: var(--color-primary-light); */
    /* --color-select-icon: var(--color-gray-dark);
    --color-select-icon-focused: #262b31;
    --color-select-highlight: rgba(0, 0, 0, 0.1);
    --color-select-multi-item-color: #fff;
    --color-select-multi-item-background: #9FB0C5;
    --color-select-multi-delete-icon: #fff; */
/* 
    --color-popover-text: var(--color-dark);
    --color-popover-border: transparent;
    --color-popover-background: #fff;
    --color-popover-shadow: rgba(27, 32, 49, 0.1); */
    /* --color-tooltip-text: var(--color-gray-dark);
    --color-tooltip-border: var(--color-gray-dark);
    --color-tooltip-background: #fff; */

    /* --color-checkbox-fill: #fff;
    --color-checkbox-background: var(--color-primary);
    --color-checkbox-border: #7D87AA;
    --color-checkbox-border-active:  var(--color-primary); */

    --color-modal-background: #fff;
    /* theme */

    --mobile-spacing: 24px;
    --desktop-spacing: 24px;
}

html {
	color:var(--color-dark);
    font-family:Poppins, OpenSans, sans-serif; font-weight:400; font-size:14px;
    scroll-behavior: smooth;
    background:var(--color-body-background);
}

body {
    min-width:calc(1200px + 48px);
}

.ReactEntryPoint {
    width:100%; height:100%;
}

/* SVG */
.SVG {
    display:inline-flex;
    align-items:center; justify-content:center;
}

.SVG.Size > svg {
    width:100%; height:100%;
}

.ImgCoverNode {
    background-position:center;
    background-size:cover;
    background-repeat:no-repeat;
}

.ImgContainNode {
    background-position:center;
    background-size:contain;
    background-repeat:no-repeat;
}

img.CoverNode {
    width: 100%; height: 100%;
    object-fit: cover;
    object-position: center;
    border-radius: inherit;
}

/* Site */
.SiteContent {
    width:100%; min-width:calc(1200px + 2 * var(--desktop-spacing)); max-width:calc(1600px + 2 *  var(--desktop-spacing));
    box-sizing:border-box;
    padding-left:var(--desktop-spacing); padding-right:var(--desktop-spacing);
    margin-left:auto; margin-right:auto;
}

.SiteContent.SmallContent {
    width:370px; min-width:auto;
}

html.OverflowHidden {
    overflow:hidden;
}

.Heading1 {
    font-size: 50px; font-weight: 700;
}

.Heading2 {
    font-size: 30px; font-weight: 700;
    line-height: 45px;
}

.Heading3 {
    font-size: 25px; font-weight: 700;
    line-height: 38px;
}

.Heading4 {
    font-size: 20px; font-weight: 700;
    line-height: 30px;
}

.Heading5 {
    font-size: 22px;
}

.Heading6 {
    font-size: 14px;
}

@media (max-width: 749px) {

    .Heading1 {
        font-size: 30px;
    }

    .Heading2 {
        font-size: 24px;
    }

    .Heading3 {
        font-size: 18px;
    }

    .Heading4 {
        font-size: 14px;
    }

    .Heading5 {
        font-size: 12px;
    }

    .Heading6 {
        font-size: 5px;
    }

}

/* PageContent */
.PageContent {
    flex: 1 1 auto;
    display: flex; flex-direction: column;
    position: relative;
}

.PageMarginTop {
    margin-top:98px;
}

.PageMarginBottom {
    margin-top:112px;
}

.Page {
    transition-property:filter;
}

.Page.BlurModal, .Page.BlurAlert {
    filter: blur(6px);
}

.PrimaryColor {
    color: var(--color-primary);
    fill: var(--color-primary);
}

/* Scrolls */
.Scrolls {
    scrollbar-color:var(--color-primary) transparent;
    scrollbar-width:thin;
}

.Scrolls::-webkit-scrollbar {
    width:6px; height:6px;
}

.Scrolls::-webkit-scrollbar-track {
    background:none;
}

.Scrolls::-webkit-scrollbar-thumb {
    border-radius:3px;
    background:var(--color-primary);
}

/* Mui font fix */
*[class*="-root"], *[class^="Mui"] {
    font-family: inherit !important;
}
