.DataPreviewLayout .DataPreviewKey {
    color: var(--color-gray-025);
    white-space: nowrap;
    margin-right: 16px;
}

.DataPreviewLayout .DataPreviewValue {
    text-align: right;
    margin-left: auto;
}
