@font-face {
    font-family:"Poppins";
    font-style:normal;
    font-weight:300;
    src:url(/fonts/poppins-v15-latin-300.woff2) format('woff2');
}

@font-face {
    font-family:"Poppins";
    font-style:normal;
    font-weight:400;
    src:url(/fonts/poppins-v15-latin-400.woff2) format('woff2');
}

@font-face {
    font-family:"Poppins";
    font-style:normal;
    font-weight:500;
    src:url(/fonts/poppins-v15-latin-500.woff2) format('woff2');
}

@font-face {
    font-family:"Poppins";
    font-style:normal;
    font-weight:600;
    src:url(/fonts/poppins-v15-latin-600.woff2) format('woff2');
}

@font-face {
    font-family:"Poppins";
    font-style:normal;
    font-weight:700;
    src:url(/fonts/poppins-v15-latin-700.woff2) format('woff2');
}

@font-face {
    font-family:"OpenSans";
    font-style:normal;
    font-weight:300;
    src:url(/fonts/OpenSans-Light.woff2) format('woff2');
}

@font-face {
    font-family:"OpenSans";
    font-style:normal;
    font-weight:400;
    src:url(/fonts/OpenSans-Regular.woff2) format('woff2');
}

@font-face {
    font-family:"OpenSans";
    font-style:normal;
    font-weight:500;
    src:url(/fonts/OpenSans-Regular.woff2) format('woff2');
}

@font-face {
    font-family:"OpenSans";
    font-style:normal;
    font-weight:600;
    src:url(/fonts/OpenSans-Bold.woff2) format('woff2');
}

@font-face {
    font-family:"OpenSans";
    font-style:normal;
    font-weight:700;
    src:url(/fonts/OpenSans-Bold.woff2) format('woff2');
}
