/* version 3.0.0 */
.ModalWindowWrapper {
    width:100%; height:100%;
    display:flex;
    align-items:center; justify-content:center;
    position:fixed;
    left:0; top:0;
    background:rgba(27, 32, 49, 0.1);
    z-index:2040;
}

.ModalWindowWrapper > .ModalWindow {
    max-height:90%; line-height:normal;
    display: flex; flex-direction: column;
    position:relative;
    background:#fff;
    box-shadow:0px 0px 17px 0px #bbb;
    overflow-x:hidden;
    overflow-y:auto;
}

.ModalWindowWrapper > .ModalWindow > .Close {
    width:16px; height:16px; line-height:16px;
    position:absolute;
    right:0; top:0;
    text-align:center;
    font-size:24px;
    padding:8px;
    z-index:1;
    cursor:pointer;
}

.ModalWindowWrapper > .ModalWindow > .ScrollableWrapper {
    scroll-behavior: smooth;
    overflow-x:hidden;
    overflow-y:auto;
}

/* project specific */
.ModalWindowWrapper > .ModalWindow {
    max-width: calc(100% - 32px); max-height: 70%;
    background:transparent;
    box-shadow: 0px 3px 20px rgba(27, 32, 49, 0.1);
    border-radius: 4px;
    scroll-behavior: smooth;
}

.ModalWindowWrapper > .ModalWindow .ModalWindowContent {
    width: 520px; max-width: 100%;
}

.ModalWindowWrapper > .ModalWindow .ModalWindowContent.LargeContent {
    width: 1100px;
}

.ModalWindowWrapper > .ModalWindow .ModalWindowContent.SmallContent {
    width: 310px;
}

.ModalWindowWrapper.ModalFullScreen .ModalWindow {
    width: 100%; height: 100%;
    max-width: none; max-height: none;
    background: var(--color-modal-background);
}

.ModalWindowWrapper.ModalFullScreen .ModalWindow .ModalWindowContent {
    width: 100%; min-width: 0; max-width: none;
}

.ModalWindowWrapper.ModalFullScreen.ModalFullScreenBlack .ModalWindow {
    background: #000;
}

.ModalWindowWrapper.ModalPadding > .ModalWindow .ModalWindowContent {
    box-sizing: border-box;
    padding: 32px;
}

.ModalWindowWrapper.ModalBox > .ModalWindow .ModalWindowContent {
    background: var(--color-modal-background);
}


.ModalWindowWrapper > .Close {
    position:absolute;
    right:42px; top:42px;
    color: #fff;
}

.ModalWindowWrapper > .ModalWindow > .Close {
    width: 20px; height: 20px;
    fill: var(--color-secondary);
    padding: 30px;
}

.ModalWindowWrapper .ActionsBottom {
    margin-top: 32px;
}

.ModalWindowWrapper .ModalTitleRow {
    display: flex;
    margin-bottom: 16px;
}

.ModalWindowWrapper .ModalTitleRow .ModalTitle {
    color: var(--color-primary);
    font-size: 24px; font-weight: 700;
}

.ModalWindowWrapper .ModalSubtitle {
    text-align:center;
}

.ModalWindowWrapper hr {
    height: 1px;
    border: 0;
    margin: 16px 0;
    background-color: var(--color-gray);
}
