.NavBar {
    justify-content: space-around;
    width: 100%;
    position: relative;
}

.NavBar .NavItem {
    gap: 20px;
    color: var(--color-gray-030);
    align-items: center;
    z-index: 2;
}

.NavBar .NavItem .NavNumber {
    background-color: var(--color-gray-060);
    box-sizing: border-box;
    height: 40px; width: 40px;
    position: relative;
    border-radius: 50%;
    justify-content: center;
    border: 1px solid transparent;
    align-items: center;
    
}

.NavBar .NavItem .NavNumber:before, .NavBar .NavItem .NavNumber:after {
    content: '';
    width: 10px; height: 100%;
    position: absolute;
    top:0;
    background: #fff;
}

.NavBar .NavItem .NavNumber:before {
    left: -11px;
}

.NavBar .NavItem .NavNumber:after {
    right: -11px;
}

.NavBar .NavItem .NavNumber .SvgIcon {
    width: 16px; height: 16px;
}

.NavBar .NavItem .NavNumber.Done {
    color: #000;
    border-color: #000;
    background: #fff;
}

.NavBar .NavItem .NavName {
    width: 0;
    display: flex; justify-content: center;
    white-space: nowrap;
}

.NavBar .NavItem.Active {
    color: #000;
}

.NavBar .NavItem.Active .NavNumber {
    color: #fff;
    background-color: #000;
}


.NavBar .HorizontalSeparator {
    position: absolute;
    top: 19px;
    width: 100%; height: 1px;
    background: var(--color-gray-060);
    z-index: 1;
}
