.RangeDatepickerWrapper {
    display: flex;
}

.RangeDatepickerWrapper.Disabled {
    pointer-events: none;
    opacity: 0.5;
}

.RangeDatepickerWrapper .DatePickerInput {
    align-items: flex-end;
    position: relative;
    border: 1px solid var(--color-input-border);
    border-radius: 8px;
    padding: 13px 14px 12px 14px;
    margin: 20px 0 0 0;
}

.RangeDatepickerWrapper .DatePickerInput .DatePickerFieldLabel {
    position: absolute;
    left: -1px; top: -20px;
    font-size: 12px;
}

.RangeDatepickerWrapper .DatePickerInput .DateClearButton {
    align-self: center;
    width: 16px; height: 16px;
    cursor: pointer;
}

.RangeDatepickerWrapper .DatePickerInput .DatePickerSmallLetters {
    flex: 0 0 auto;
    font-size: 10px;
    margin-right: 4px;
}

.RangeDatepickerWrapper .DatePickerInput .DatePickerInputText {
    width: 0;
    flex: 1 1 auto;
    align-self: stretch;
    font-size: 14px;
    margin: 0 9px 0 0;
}
