.TableDesktop {
    /* border: 1px solid var(--color-gray-060-minus-02); */
    /* border-radius: 4px; */
    color: var(--color-gray-060);
}

.TableDesktop.ContentScrollable {
    display: flex; flex-direction: column;
    flex: 1 1 auto;
}

.TableDesktop .Empty {
    height: 128px;
    background: #262b310f;
}

.TableDesktop .TableRow {
    display: flex;
    padding:8px 14px;
    transition-property:'background';
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 16px;
}

.TableDesktop .TableRow:nth-child(even) {
    /* background: #262b3106; */
}

.TableDesktop .TableRow:not(:last-child) {
    /* margin-bottom: 1px; */
    /* border-bottom: 1px solid var(--color-gray-060-minus-02); */
    /* border-bottom: 1px solid #0d0d0d !important; */
}

/* .TableDesktop > :first-child {
    border-top-left-radius: inherit;
    border-top-right-radius: inherit;
}

.TableDesktop > :last-child {
    border-bottom-left-radius: inherit;
    border-bottom-right-radius: inherit;
} */

.TableDesktop .TableRow:not(.Legend) {
    border-bottom: 1px solid var(--color-primary-with-opacity);
    cursor: pointer;
}

/* .TableDesktop.ContentScrollable .TableRow:not(.Legend) {
    flex: 1 1 auto;
} */

.TableDesktop .TableRow.Legend {
    background-color: var(--color-primary);
    color: var(--color-gray-060);
    text-transform: uppercase;
    font-size: 12px; font-weight: 700;
    /* background: var(--color-gray-060-minus-02); */
}

/* .TableDesktop .TableRow:not(.Legend):hover {
    background: var(--color-primary-hover);
} */

.TableDesktop .TableCell {
    box-sizing: border-box;
}

.TableDesktop .TableCell.TableCellAlignLeft {
    justify-content: flex-start;
    padding-right: 4px;
}

.TableDesktop .TableCell.TableCellAlignCenter {
    justify-content: center;
    padding: 0 2px;
}

.TableDesktop .TableCell.TableCellAlignRight {
    justify-content: flex-end;
    padding-left: 4px;
}

.TableDesktop .TableRow.Legend .TableCell.Sorted {
    color: #FFF;
}

.TableDesktop .TableCell.DropTarget {
    position: relative;
}

.TableDesktop .TableCell.DropTarget:before, .TableDesktop .TableCell.DropTarget:after {
    content: '';
    width: 0px; height: 0px;
    position: absolute;
    border: 6px solid transparent;
    pointer-events: none;
}

.TableDesktop .TableCell.DropTarget:before {
    bottom: -8px;
    border-bottom-color: var(--color-gray-060);
}

.TableDesktop .TableCell.DropTarget:after {
    top: -8px;
    border-top-color: var(--color-gray-060);
}

.TableDesktop .TableCell.DropTarget.DropTargetLeft:before, .TableDesktop .TableCell.DropTarget.DropTargetLeft:after {
    left: 0;
    transform:translateX(-50%);
}

.TableDesktop .TableCell.DropTarget.DropTargetRight:before, .TableDesktop .TableCell.DropTarget.DropTargetRight:after {
    right: 0;
    transform:translateX(50%);
}
