@media (min-width: 1001px) {

    .Table.TableMobile {
        display: none;
    }

}

.Table .TableCell .CellBold {
    font-weight: 700;
}

@media (max-width: 1000px) {

    .Table.TableDesktop {
        display: none;
    }

}
