
.PageFarmView .PageContent {
    padding: 70px var(--page-spacing-h);
}

.PageFarmView .PageContent .Grid {
    gap: 50px;
}

.PageFarmView .PageContent .BorderContainer .FarmInfoRow {
    justify-content: space-between;
} 