

header.PageHeader {
    padding-left: var(--page-spacing-h); padding-right: var(--page-spacing-h);
    background: transparent;
}

footer.PageFooter {
    padding-left: var(--page-spacing-h); padding-right: var(--page-spacing-h);
    margin-top: auto;
}

.PageFarmView .PageContent {
    padding: 0 70px;
}

.PageFarmView .PageContent .Grid {
    gap: 50px;
}

.PageFarmView .PageContent .BorderContainer .FarmInfoRow {
    justify-content: space-between;
} 