.AuthBlockLayout .Title {
    margin-bottom: 16px;
}

.AuthBlockLayout .Subtitle {
    color: var(--color-gray-025);
    font-size: 16px;
    margin-bottom: 40px;
}

.AuthBlockLayout .InputsCnt {
    display: flex; flex-direction: column;
    gap: 24px;
}

.AuthBlockLayout .SubInputsAction {
    align-items: flex-end;
    margin-top: 4px;
}

.AuthBlockLayout .BlockActions {
    margin-top: 24px;
}
