.AuthBlockLayout .Prefix {
    margin-bottom: 48px;
}

.AuthBlockLayout .Title {
    margin-bottom: 16px;
}

.AuthBlockLayout .Title .IconConfirmationTitle {
    width: 28px; height: 28px;
    flex: 0 0 auto;
    margin-right: 10px;
}

.AuthBlockLayout .Subtitle {
    color: var(--color-gray-025);
    font-size: 16px;
    margin-bottom: 40px;
}

.AuthBlockLayout .ContentCnt {
    display: flex; flex-direction: column;
    gap: 24px;
}

.AuthBlockLayout .SubInputsAction {
    align-items: flex-end;
    margin-top: 4px;
}

.AuthBlockLayout .BlockActions {
    margin-top: 24px;
}

.AuthBlockLayout .Suffix {
    margin-top: 24px;
}
