.AppRouter {
    width:100%; height:100%;
}

.AppRouter.PageTransitionIn {
    animation: 0.1s PageTransitionIn forwards;
}

.AppRouter.PageTransitionOut {
    animation: 0.1s PageTransitionOut forwards;
}
  
@keyframes PageTransitionIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}

@keyframes PageTransitionOut {
    from {
        opacity: 1;
    }
    to {
        opacity: 0;
    }
}
