.HeaderWallet .BalanceRow {
    gap: 10px;
}

.HeaderWallet .BalanceRow .Gray {
    color: var(--color-gray-030);
}

.HeaderWallet .AddressRow {
    padding: 14px 24px;
    gap: 24px;
    background-color: var(--color-gray-060);
    border-radius: 16px;
    margin-left: 40px;
}

.HeaderWalletAddressPopover {
    align-items: center;
    gap: 20px;
    padding: 20px;
}

.HeaderWalletAddressPopover .ButtonRow {
    gap: 10px;
}
