.TopCollectionsList .HeadingRow {
    margin-bottom: 70px;
}

.TopCollectionsList .HeadingRow .PeriodButtonsRowHolder {
    justify-content: center;
}

.TopCollectionsList .HeadingRow .PeriodButtonsRowHolder .PeriodButtonsRow {
    justify-content: center;
    gap: 5px;
    border-radius: 10px;
    padding: 3px;
    background-color: var(--color-gray-095);
}

.TopCollectionsList .HeadingRow .PeriodButtonsRow .PeriodButton {
    border-radius: 10px;
    padding: 10px;
}

.TopCollectionsList .HeadingRow .PeriodButtonsRow .PeriodButton.Active {
    background-color: #fff;
} 

.TopCollectionsList .CollectionsGrid {
    grid-template-rows: repeat(6, minmax(0, 1fr));
    grid-auto-flow: column;
    gap: 20px;
}

.TopCollectionsList .CollectionsGrid .CollectionPreview {
    display: grid;
    gap: 20px;
    grid-template-columns: minmax(0, 0.1fr) minmax(0, 0.5fr) minmax(0, 1.8fr) minmax(0, 1fr);
    align-items: center;
    padding: 20px;
}

.TopCollectionsList .CollectionsGrid .CollectionPreview .PreviewImage {
    width: 60px; height: 60px;
    background-size: contain;
}