# app
App_Port='3001'

# Database
App_Database_Host='127.0.0.1'
App_Database_User='postgres'
App_Database_Pass='postgres'
App_Database_Db_Name='aura_pool'

# LOCAL
APP_LOCAL_RPC='http://34.123.153.6:26657'
APP_LOCAL_API='http://34.123.153.6:1317'
APP_LOCAL_EXPLORER_URL='http://192.168.1.101:3000'
APP_LOCAL_STAKING_URL='http://192.168.1.101/staking'
APP_LOCAL_CHAIN_NAME='CudosTestnet-Private'
APP_LOCAL_CHAIN_ID='cudos-testnet-private-3'

# PRIVATE
APP_PRIVATE_RPC='<PRIVATE_NODE_RPC>:26657'
APP_PRIVATE_API='<PRIVATE_NODE_API>:1317'
APP_PRIVATE_EXPLORER_URL='<PRIVATE_EXPLORER_URL>:3000'
APP_PRIVATE_STAKING_URL='<PRIVATE_STAKING_URL>'
APP_PRIVATE_CHAIN_NAME='CudosTestnet-Private'
APP_PRIVATE_CHAIN_ID='cudos-testnet-private'

# PUBLIC
APP_PUBLIC_RPC='<PUBLIC_NODE_RPC>:26657'
APP_PUBLIC_API='<PUBLIC_NODE_API>:1317'
APP_PUBLIC_EXPLORER_URL='<PUBLIC_EXPLORER_URL>:3000'
APP_PUBLIC_STAKING_URL='<PUBLIC_STAKING_URL>'
APP_PUBLIC_CHAIN_NAME='CudosTestnet-Public-v3'
APP_PUBLIC_CHAIN_ID='cudos-testnet-public-3'

# MAINNET
APP_MAINNET_RPC='<MAINNET_NODE_RPC>:26657'
APP_MAINNET_API='<MAINNET_NODE_API>:1317'
APP_MAINNET_EXPLORER_URL='<MAINNET_EXPLORER_URL>:3000'
APP_MAINNET_STAKING_URL='<MAINNET_STAKING_URL>'
APP_MAINNET_CHAIN_NAME='CudosNetwork'
APP_MAINNET_CHAIN_ID='cudos-1'

# GENERAL SETTINGS
APP_DEFAULT_NETWORK= 'LOCAL'
APP_GAS_PRICE='5000000000000'
