.NftPreview {
    width: 100%;
}

.NftPreview .NftPreviewImage {
    width: 100%; height: 0; padding-bottom: 100%;
    background-size: contain; 
    margin-bottom: 15px;
    border-radius: 16px;
}

.NftPreview .CollectionName {
    font-family: 'Poppins'; font-weight: 400; font-size: 14px; line-height: 21px;
    margin-bottom: 8px;
}

.NftPreview .NftName {
    font-weight: 700; font-size: 24px; line-height: 33px;
    margin-bottom: 8px;
}

.NftPreview .HashPower {
    font-family: 'Poppins'; font-weight: 500; font-size: 18px; line-height: 145%;
    color: #717070;
    margin-bottom: 16px;
}

.NftPreview .Priceheading {
    font-family: 'Poppins'; font-weight: 600; font-size: 14px; line-height: 21px;
    color: #717070;
    margin-bottom: 8px;
}

.NftPreview .PriceRow {
    fill: gradient(45deg, #4C80E9 14.64%, #91D2F5 85.36%);
    font-family: 'Poppins'; font-weight: 700; font-size: 18px; line-height: 145%;
}