
header.PageHeader {
    padding-left: var(--page-spacing-h); padding-right: var(--page-spacing-h);
    background: transparent;
}

footer.PageFooter {
    padding-left: var(--page-spacing-h); padding-right: var(--page-spacing-h);
    margin-top: auto;
}

.PageExploreNfts .PageContent {
    padding: 72px;
}

.PageExploreNfts .PageContent .ExploreNfts {
    align-items: center;
}

.PageExploreNfts .PageContent .ExploreNfts .PageHeading {
    margin-bottom: 40px;   
}

.PageExploreNfts .PageContent .ExploreNfts .SearchBar {
    margin-bottom: 40px;
}

.PageExploreNfts .PageContent .ExploreNfts .CategoriesRow {
    gap: 20px;
    margin-bottom: 100px;
}

.PageExploreNfts .PageContent .ExploreNfts .CategoriesRow .CategoryName {
    padding: 2px 5px;
    border-radius: 3px;
    background-color: var(--color-gray-light);
    font-family: 'Poppins'; font-weight: 600; font-size: 14px; line-height: 21px;
}

.PageExploreNfts .PageContent .ExploreNfts .CategoriesRow .CategoryName.Active {
    background-color: #000;
    color: #fff;
}