.BuyNftPopup {
    gap: 24px;
}

.BuyNftPopup .BorderContainer {
    gap: 24px;
    background: var(--color-gray-090);
    align-items: flex-start;
}
.BuyNftPopup .BorderContainer .NftPicture {
    width: 124px; height: 146px;
    background-position: center;
    background-size: cover;
    border-radius: 16px;
}

.BuyNftPopup .BorderContainer .NftInfo {
    gap: 10px;
}


.BuyNftPopup .BorderContainer .NftInfo .Price {
    padding-top: 40px;
    gap: 10px;
    align-items: center;
}

.BuyNftPopup .BorderContainer .NftInfo .Gray {
    color: var(--color-gray-030);
}

.BuyNftPopup .Processing {
    padding: 100px;
    gap: 24px;
    align-items: center;
}

.BuyNftPopup .Processing .FlexColumn {
    align-items: center;
}

.BuyNftPopup .Success {
    align-items: center;
    gap: 14px;
    padding: 0 100px;
}

.BuyNftPopup .Success .SuccessSvg {
    width: 70px; height: 70px;
}

.BuyNftPopup .Success .BorderContainer {
    padding: 10px 10px 30px 10px;
    gap: 5px;
}

.BuyNftPopup .Success .BorderContainer .NftPicture {
    width: 272px; height: 188px;
    margin-bottom: 10px;
}

.BuyNftPopup .Success .TransactionView {
    gap: 10px;
}