
.PageExploreCollections .PageContent {
    padding: 48px  var(--page-spacing-h);
}

.PageExploreCollections .ExploreCollections {
    align-items: center;
}

.PageExploreCollections .ExploreCollections .PageHeading {
    margin-bottom: 40px;
}

.PageExploreCollections .ExploreCollections .SearchBar {
    margin-bottom: 40px;
}

.PageExploreCollections .CollectionsGridWrapper .FilterHeader {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    margin-bottom: 20px;
    align-items: end;
}
