
.PageExploreCollections .PageContent {
    padding: 48px  var(--page-spacing-h);
}

.PageExploreCollections .PageContent .ExploreCollections {
    align-items: center;
}

.PageExploreCollections .PageContent .ExploreCollections .PageHeading {
    margin-bottom: 40px;
}

.PageExploreCollections .PageContent .ExploreCollections .SearchBar {
    margin-bottom: 40px;
}

.PageExploreCollections .PageContent .ExploreCollections .CategoriesRow {
    gap: 20px;
    margin-bottom: 100px;
}

.PageExploreCollections .PageContent .ExploreCollections .CategoriesRow .CategoryName {
    padding: 2px 5px;
    border-radius: 3px;
    background-color: var(--color-gray-095);
    font-weight: 600; font-size: 14px;
}

.PageExploreCollections .PageContent .ExploreCollections .CategoriesRow .CategoryName.Active {
    background-color: #000;
    color: #fff;
}
