
.PageCollectionView .PageContent {
    padding: 24px var(--page-spacing-h);
}

.PageCollectionView .PageContent .ProfileInfo {
    margin-top: 40px;
}

.PageCollectionView .PageContent .ProfileInfo .FlexRow {
    gap: 40px;
}


.PageCollectionView .PageContent .CollectionHeadingName {
    margin-bottom: 40px;
}

.PageCollectionView .PageContent .ProfileInfo {
    align-items: flex-start;
    gap: 100px;
    grid-template-columns:  minmax(0, 2fr)  minmax(0, 1fr);
    flex-grow: 1;
    margin-bottom: 50px;
}

.PageCollectionView .PageContent .ProfileInfo .CollectionDescription {
    margin-top: 20px;
}

.PageCollectionView .PageContent .ProfileInfo .InfoBox {
    border: 1px solid var(--color-gray-light);
    border-radius: 20px;
    padding: 24px;
    gap: 20px;
}

.PageCollectionView .PageContent .ProfileInfo .InfoBox .CollectionInfoRow {
    justify-content: space-between;
}

.PageCollectionView .PageContent .ProfileInfo .InfoBox .HorizontalSeparator {
    flex-grow: 1;
    border: 1px solid var(--color-gray-light);
} 

.PageCollectionView .PageContent .ProfileInfo .InfoBox .CollectionInfoRow .CollectionInfoValue {
    text-align: right;
    font-weight: 700;
}

.PageCollectionView .PageContent .GridHeader {
    gap: 20px;
    margin-bottom: 20px;
}

.PageCollectionView .PageContent .GridHeader .FlexRow {
    justify-content: space-between;
}
