
.PageMiningFarmView .PageContent {
    padding: 24px var(--page-spacing-h);
}

.PageMiningFarmView .Grid {
    gap: 50px;
}

.PageMiningFarmView .BorderContainer .FarmInfoRow {
    justify-content: space-between;
} 

.PageMiningFarmView .DataGridWrapper .FilterHeader {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    margin-bottom: 20px;
    align-items: end;
}
