
.PageFarmView .PageContent {
    padding: 24px var(--page-spacing-h);
}

.PageFarmView .Grid {
    gap: 50px;
}

.PageFarmView .BorderContainer .FarmInfoRow {
    justify-content: space-between;
} 

.PageFarmView .CollectionsGridWrapper .FilterHeader {
    grid-template-columns: minmax(0, 1fr) minmax(0, 2fr);
    margin-bottom: 20px;
    align-items: end;
}
