
.PageMiningFarmCredit .PageContent {
    padding: 24px var(--page-spacing-h);
}

.PageMiningFarmCredit .CollectionsOwnedHeader {
    justify-content: space-between;
}

.PageMiningFarmCredit .NoContentFound {
    margin: 100px 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.PageMiningFarmCredit .Grid {
    gap: 50px;
}

.PageMiningFarmCredit .BorderContainer .FarmInfoRow {
    justify-content: space-between;
}


.PageMiningFarmCredit .PageContent .GridFilterHeader {
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 2fr) minmax(0, 1fr);
}

.PageMiningFarmCredit .PageContent .GridFilterHeader .LeftHeaderPart {
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
}
