.PageCreditMiningFarmDetails .PageContent {
    display: flex;
    justify-content: center;
}

.PageCreditMiningFarmDetails .PageContent .FormContainer{
    justify-self: center;
    align-self: center;
    width: 640px;
    gap: 40px;
    align-items: center;
}

.PageCreditMiningFarmDetails .PageContent .FullLine{
    width: 100%;
}