
.PageMiningFarmView .PageContent {
    padding: 24px var(--page-spacing-h);
}

.PageMiningFarmView .Grid {
    gap: 50px;
}

.PageMiningFarmView .BorderContainer .FarmInfoRow {
    justify-content: space-between;
}
