
.PageCreditMiningFarmDetails .PageContent .RequestAdminAccountForm {
    justify-self: center;
    align-self: center;
    width: 640px;
    gap: 40px;
    padding: 40px;
    align-items: center;
    border: 1px solid var(--color-gray-060);
    box-shadow: 0px 4px 50px rgba(0, 0, 0, 0.05);
    border-radius: 20px;
}

.PageCreditMiningFarmDetails .PageContent .RequestAdminAccountForm .FullLine{
    width: 100%;
}