
.PageMiningFarmCredit .PageContent {
    padding: 24px var(--page-spacing-h);
}

.PageMiningFarmCredit .NoFarmCnt {
    flex: 1 1 auto;
}

.PageMiningFarmCredit .NoFarmCnt .NoFarmLayout {
    align-items: center;
}

.PageMiningFarmCredit .NoFarmCnt .NoFarmLayout .SvgNoFarm {
    margin-bottom: 40px;
}

.PageMiningFarmCredit .NoFarmCnt .NoFarmLayout .Title {
    margin-bottom: 16px;
}

.PageMiningFarmCredit .NoFarmCnt .NoFarmLayout .Subtitle {
    color: var(--color-gray-030);
    font-size: 16px;
    margin-bottom: 48px;
}

.PageMiningFarmCredit .CollectionsOwnedHeader {
    justify-content: space-between;
}

.PageMiningFarmCredit .NoContentFound {
    margin: 100px 0;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.PageMiningFarmCredit .Grid {
    gap: 50px;
}

.PageMiningFarmCredit .BorderContainer .FarmInfoRow {
    justify-content: space-between;
}


.PageMiningFarmCredit .PageContent .GridFilterHeader {
    display: grid;
    grid-template-columns: minmax(0, 3fr) minmax(0, 2fr) minmax(0, 1fr);
}

.PageMiningFarmCredit .PageContent .GridFilterHeader .LeftHeaderPart {
    justify-content: flex-start;
    align-items: flex-end;
    gap: 20px;
}
