.PageRewardsCalculator {
    --page-spacing-h: 72px;
}

header.PageHeader {
    padding-left: var(--page-spacing-h); padding-right: var(--page-spacing-h);
    background: transparent;
}

footer.PageFooter {
    padding-left: var(--page-spacing-h); padding-right: var(--page-spacing-h);
    margin-top: auto;
}

.RewardsCalculator {
    padding: 72px;
}

.RewardsCalculatorHeading {
    justify-content: space-between;
    margin-bottom: 14px;
    font-weight: 700;
}

.RewardsCalculator .RewardsCalculatorSubHeading {
    margin-bottom: 37px;
}


.RewardsCalculator .LayoutContainer {
    gap: 24px;
}

.RewardsCalculator .LayoutContainer .MiningFarmForm {
    box-sizing: border-box;
    border-radius: 20px;
    padding: 65px 158px;
    gap: 24px;
}

.RewardsCalculator .LayoutContainer .MiningFarmForm .Input {
    margin-bottom: 24px;
}

.RewardsCalculator .LayoutContainer .MiningFarmForm .NetworkDifficulty {
    align-items: flex-end;
    position: relative;
}

.RewardsCalculator .LayoutContainer .MiningFarmForm .NetworkDifficulty .EnableEditButton {
    height: 40px; width: 40px;
    background: var(--color-primary);
    border-radius: 13px;
    fill: #fff;
    justify-content: center;
    align-items: center;
    position: absolute;
    right: 5px;
}

.RewardsCalculator .LayoutContainer .MiningFarmForm .RewindButton .SVG {
    margin-right: 10px;
    fill: #fff;
}

.RewardsCalculator .LayoutContainer .DataContainer {
    gap: 24px;
}

.RewardsCalculator .LayoutContainer .DataContainer .BtcPriceContainer .BtcPrice {
    margin-right: 16px;
    margin-bottom: 8px;
}

.RewardsCalculator .LayoutContainer .DataContainer .BtcPriceContainer .PriceChange {
    padding: 10px;
    font-weight: 600; font-size: 14px; line-height: 21px;
    border: 1px solid #000000;
    border-radius: 6px;
}

.RewardsCalculator .LayoutContainer .DataContainer .BtcPriceContainer .SubHeading {
    font-weight: 700; font-size: 18px; line-height: 145%;
    color: var(--color-gray-060);
}

.RewardsCalculator .LayoutContainer .DataContainer .FarmDataContainer {
    font-size: 18px; line-height: 145%;
}

.RewardsCalculator .LayoutContainer .DataContainer .FarmDataContainer .DataRow {
    padding: 8px 0;
    flex-grow: 1;
}

.RewardsCalculator .LayoutContainer .DataContainer .FarmDataContainer .DataRow .DataRowHeading {
    font-weight: 700; color: #000;
    width: 60%;
}

.RewardsCalculator .LayoutContainer .DataContainer .RewardsEstimateContainer {
    background-color: #000;
    border-radius: 16px;
    font-weight: 700; font-size: 18px; line-height: 145%;
    color: #fff;
    padding: 41px 30px;
}

.RewardsCalculator .LayoutContainer .DataContainer .RewardsEstimateContainer .RewardsEstimateHeading {
    margin-bottom: 18px;
}

.RewardsCalculator .LayoutContainer .DataContainer .RewardsEstimateContainer .RewardsInBtc {
    margin-right: 16px;
}

.RewardsCalculator .LayoutContainer .DataContainer .RewardsEstimateContainer .MonthlyRewardUsd {
    margin-bottom: 4px;
}

.RewardsCalculator .LayoutContainer .DataContainer .RewardsEstimateContainer .Discretion {
    font-weight: 700; font-size: 12px; line-height: 145%;
    color: var(--color-gray-060);
}
